body {
  padding: 25px;
  background: url(../img/rivalry.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#autoplay-cover {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 10005;
	
	text-align: center;
	transition: opacity 1s;
	
	font-family: SimSun;
	color: white;
	white-space: nowrap;
	text-shadow: 0 2px 2px rgba(61, 172, 227, 0.9);

}

#autoplay-cover.hide {
	opacity: 0;
}