/* key stuff */
.yt {
    width: 560px; /* you have to have a size or this method doesn't work */
    height: 315px;

    position: absolute; /* positions according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
}

.yt iframe {
    display: block;
    width: 100%;
    height: 100%;
}

#messenger {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-family: SimSun;
  color: white;
  font: 72px;
  white-space: nowrap;
  text-shadow: 0 2px 2px rgba(61, 172, 227, 0.9);
}

#leftf {
  position: absolute;
  top: 15%;
  left: 15%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: white;
  font: 4px/3px monospace;
  white-space: pre;
  text-shadow: 0 2px 2px rgba(61, 172, 227, 0.9);	
	
}

#rightf {
  position: absolute;
  top: 15%;
  left: 85%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: white;
  font: 4px/3px monospace;
  white-space: pre;
  text-shadow: 0 2px 2px rgba(61, 172, 227, 0.9);		
}

/* this stuff is probably already in your styles */


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: black;
}

body {
    margin: 0;
}





.yt img {
    display: block;
    width: 100%;
    height: auto;
}